<div class="container">
  <h2>Exchanges</h2>
  <form id="new-exchange-button" action="/events/new" method="GET">
    <button type="submit">Create New Exchange</button>
  </form>

  <form id="search_event" action="/events/search" method="POST">
    Search Event:
    <input type="text" name="event[invite_key]">
    <button type="submit">search</button>
  </form>

<!--   <form id="search_event" action="/events" method="GET">
    <input type="search" value="My Wish List">
    <button type="submit">My Wish List</button>
  </form> -->

<%if current_user.wishlists.empty?%>
  <form id="wishlist-button" action="/wishlists" method="POST">
    <button type="submit">Create Wish List</button>
  </form>
<% else%>
  <form id="wishlist-button" action="/wishlists" method="GET">
    <button type="submit">My Wish List</button>
  </form>
<% end %>

  <div id="exchange-list">
    <ul>
      <% @events.each do |ev| %>
        <li> <a href="/events/<%= ev.id %>"> <%= ev.title %></a> </li>
      <% end %>
    </ul>

  </div>

</div>
