<div class="container">
  <h2>Exchanges</h2>

<<<<<<< HEAD
  <form id="search_event" action="/events/search" method="POST">
    Search Event:
    <input type="text" name="event[invite_key]">
    <button type="submit">search</button>
  </form>
=======
  <p>
    <form id="new-exchange-button" action="/event/new" method="GET">
      <button type="submit">Create New Exchange</button>
    </form>

  </p>


  <p>
    <form id="search_event" action="/events/search" method="POST">
      Search Event:
      <input type="text" name="event[invite_key]">
      <button type="submit">search</button>
    </form>
  </p>

>>>>>>> 3b9db7b3073460e15a5d9913b59b3f5f7c7b4ae4

<!--   <form id="search_event" action="/events" method="GET">
    <input type="search" value="My Wish List">
    <button type="submit">My Wish List</button>
  </form> -->

<<<<<<< HEAD
<%if current_user.wishlists.empty?%>
  <form id="wishlist-button" action="/wishlists" method="POST">
    <button type="submit">Create Wish List</button>
  </form>
<% else%>
  <form id="wishlist-button" action="/wishlists" method="GET">
    <button type="submit">My Wish List</button>
  </form>
<% end %>
=======
<!--   <form id="wishlist-button" action="/wishlists" method="GET">
    <button type="submit">My Wish List</button>
  </form> -->
>>>>>>> 3b9db7b3073460e15a5d9913b59b3f5f7c7b4ae4

  <div id="exchange-list">
    <ul>
      <% @events.each do |ev| %>
        <li> <a href="/events/<%= ev.id %>"> <%= ev.title %></a> </li>
      <% end %>
    </ul>

  </div>

</div>
