<div class="container">
  <h1>Exchanges</h1>
  <form id="new-exchange-button" action="/events/new" method="GET">
    <input type="submit" value="Create New Exchange">
  </form>


  <form id="search_event" action="/events/search" method="GET">
    Search Event:
    <input type="search" name="invite_key">
  </form>

<!--   <form id="search_event" action="/events" method="GET">
    <input type="search" value="My Wish List">
    <input type="submit" value="My Wish List">
  </form> -->

  <form id="wishlist-button" action="/wishlists" method="GET">
    <input type="submit" value="My Wish List">
  </form>

  <div id="exchange-list">
    <ul>
      <% @events.each do |ev| %>
        <li> <a href="/events/<%= ev.id %>"> <%= ev.title %></a> </li>
      <% end %>
    </ul>

  </div>

</div>
