<div class="container">
  <h1>Please register below</h1>

  <form id="signup-form" action="/users" method="post">
    First Name: <input type = "text" name= "user[first_name]" >
    Last Name: <input type = "text" name= "user[last_name]" >
    Email: <input type = "email" name= "user[email]" >
    Password: <input type = "password" name= "user[password]" >
    Confirm Password: <input type = "password" name= "user[password_confirmation]" >
    <button type="submit">Sign Up</button>
  </form>

</div>
