<div class="container">
  <h3>Please register below</h3>

  <form id="signup-form" action="/users" method="post">
    <ul>
      <li>First Name: <input type = "text" name= "user[first_name]" ></li>
      <li>Last Name: <input type = "text" name= "user[last_name]" ></li>
      <li>Email: <input type = "email" name= "user[email]" ></li>
      <li>Password: <input type = "password" name= "user[password]" ></li>
      <li>Confirm Password: <input type = "password" name= "user[password_confirmation]" ></li><br>

    </ul>


    <h3>Sign up today</h3>
    <button type="submit">Sign Up</button>
  </form>
</div>




