<div class="container">
  <h1>Your Wishlist</h1>

  <div id="wishlits-item-list">

    <table style="width:70%">
      <% @wishlist_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td> <a href="<%= item.url %>"></a> Link </td>
          <td>
            <form id="delete-button" action="/items/<%= item.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>

    </table>
  </div>

  <div class="item_add_box">
    <h2>Add more items</h2>
    <form id="save-button" action="/items" method="POST">
      Name: <input type="text" name= "item[name]"><br>
      URL: <input type="text" name= "item[url]"><br>
      <input type="submit" value="Add">
    </form>
  </div>




</div>
