<div class="container">
  <h1><%= @user.first_name %>'s List</h1>
  <div id="wishlists-item-list">
      <p>Gosh, this is embarrassing. Your giftee has yet to make a wishlist. Check back soon!</p>
  </div>
</div>
