<div class="container">
  <h1><%= @user.first_name %>'s List</h1>
  <div id="wishlists-item-list">
    <table style="width:70%">
    <td> Oh noes! Your giftee has yet to make a wishlist. Coming Soon!</td>
    <% @wishlist_items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td> <a href="<%= item.url %>">Link</a></td>
      </tr>
    </table>
  </div>
</div>
