<div class="container">

  <h6><%= display_session_error %></h6>

<p>
  <form id="login-button" action="/users/login" method="POST">
    <ul>
      <li><input type="email" name="user[email]" placeholder="email"></li>
      <li><input type="password" name="user[password]" placeholder="password"></li>
      <li align="center"><button type="submit">Log In</button></li>

    </ul>
      <!-- <input type="submit" value="Log In"> -->
  </form>
</p><br><br>


  <form id="signup-button" action="/users/signup" method="GET">
    <button type="submit">Register</button>
    <!-- <form type="submit" value="Register"> -->
  </form>

</div>
