<div>

  <h6><%= display_session_error %></h6>

  <form id="login-button" action="/users/login" method="POST">
      <input type="email" name="user[email]">
      <input type="password" name="user[password]">
      <button type="submit">Log In</button>
      <!-- <input type="submit" value="Log In"> -->
  </form>

  <form id="signup-button" action="/users/signup" method="GET">
    <button type="submit">Register</button>
    <!-- <form type="submit" value="Register"> -->
  </form>
</div>
